.updates-nav, .main-nav, .contact-nav, .login-nav{
    text-decoration: none !important;
}

*{
    margin: 0;
    padding: 0;
}

.hakkinda{
    display: block;
    height: 80vh;
    width: 100%;
    overflow-y: scroll;
    scrollbar-color: var(--color-1) transparent;
    scrollbar-gutter: stable;
}


.about-nav{
    text-decoration: rgb(174, 18, 18) underline 3.5px !important;
}

.hakkindaBaslik{
    font-size: 60px;
    margin-inline: 90px;
    background: linear-gradient(to left, rgb(255, 186, 186), rgb(157, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hakkindaYazi{
    font-size: 40px;
    margin-top: 40px;
    margin-left: 90px;
    margin-bottom: 0px;
    background: linear-gradient(to left, rgb(255, 186, 186) 75%, rgb(157, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.hakkindaP{
    display: inline-block;
    background: linear-gradient(to left, rgb(255, 223, 223), rgb(150, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-inline: 90px;
    margin-top: 27px;
    font-size: 20px;

}