.updates-nav, .main-nav, .about-nav, .login-nav{
    text-decoration: none !important;
}

.contact-nav{
    text-decoration: rgb(174, 18, 18) underline 3.5px !important;
}

*{
    margin: 0;
    padding: 0;
}

.paragraf{
    width: 80%;
}

.iletisim{
    display: block;
    height: 85vh;
    width: 100%;
    overflow-y: scroll;
    scrollbar-color: var(--color-1) transparent;
    scrollbar-gutter: stable;
    display: grid;
    grid-template-areas: 
    "label contact";
    grid-template-columns: 1fr 1fr;
}


.contact-iletisim{
    grid-area: contact;
}

.baslik{
    margin-top: 100px;
}


.label-iletisim{
    grid-area: label;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 24px;
}

#iletisim-ad, #iletisim-soyad{
    padding-left: 4px;
    padding-bottom: 6px;
    padding-top: 4px;

    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(10px);
}

#iletisim-eposta, #iletisim-tlfn{
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    background-color: rgba(255, 255, 255, 0.151);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    width: 100%;
    padding-left: 4px;
    padding-bottom: 6px;
    padding-top: 4px;
}

#iletisim-ileti{
    width: 100%;
    padding-left: 4px;
    padding-bottom: 100px;
    padding-top: 4px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    background-color: rgba(255, 255, 255, 0.151);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.grup-1{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;
}


.grup-1 > div,
.grup-2 > div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.grup-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

.baslik, .paragraf{
    margin-inline: 0px !important;
}

label{
    color: whitesmoke;
}


input::placeholder{
    margin-bottom: 70%;
    background: linear-gradient(to left, rgb(255, 186, 186) 60%, rgb(157, 255, 255));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#gonder{
    width: 35%;
    border-radius: 3px;
    transition: .1s ease;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.497);
    backdrop-filter: blur(10px);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    color: rgb(185, 255, 255);
    transition: 0.2s ease;
    background-color: rgba(255, 255, 255, 0.151);
}

#gonder:active{
        background-color: rgba(255, 80, 80, 0.779);
}

#gonder:hover{
        background-color: rgba(255, 80, 80, 0.779);

}


@media  (max-width: 600px){

    .iletisim{
        grid-template-areas:
        "label"
        "contact";

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .baslik{
        margin-top: 30px;
    }

    .grup-1, .grup-2, .paragraf{
        width: 100%;
    }

    
}