.updates-nav, .main-nav, .about-nav, .login-nav{
    text-decoration: none !important;
}

.contact-nav{
    text-decoration: rgb(174, 18, 18) underline 3.5px !important;
}

*{
    margin: 0;
    padding: 0;
}

.iletisim{
    display: block;
    height: 85vh;
    width: 100%;
    overflow-y: scroll;
    scrollbar-color: var(--color-1) transparent;
    scrollbar-gutter: stable;
    display: grid;
    grid-template-areas: 
    "label contact";
    grid-template-columns: 1fr 1fr;
}


.contact-iletisim{
    grid-area: contact;
}


.label-iletisim{
    grid-area: label;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 24px;
    margin-left: 10%;
}

#iletisim-ad, #iletisim-soyad{
    background-color: rgba(196, 255, 255, 0.622);
    border: none;
    box-shadow: 0 0 10px black;
    border-radius: 3px;
    width: 11rem;
    padding-left: 4px;
    padding-bottom: 6px;
    padding-top: 4px;
}

#iletisim-eposta, #iletisim-tlfn{
    background-color: rgba(196, 255, 255, 0.622);
    border: none;
    box-shadow: 0 0 10px black;
    border-radius: 3px;
    width: 100%;
    padding-left: 4px;
    padding-bottom: 6px;
    padding-top: 4px;
}

#iletisim-ileti{
    width: 100%;
    background-color: rgba(196, 255, 255, 0.622);
    border: none;
    box-shadow: 0 0 10px black;
    border-radius: 3px;
    padding-left: 4px;
    padding-bottom: 100px;
    padding-top: 4px;
}

.grup-1{
    display: flex;
    justify-content: space-between;
}

.grup-1 > div,
.grup-2 > div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.grup-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.baslik, .paragraf{
    margin-inline: 0px !important;
}

label{
    color: whitesmoke;
}


input::placeholder{
    color: rgb(54, 54, 54);
    margin-bottom: 70%;
}