.container{
    width: 100%;
    display: grid;
    min-height: 100vh;
    background-color: crimson;
    grid-template-areas: 
    "header header header"
    "navbar navbar navbar"
    "side ligth main"
    "foot foot foot";
    grid-template-columns:75px 0.25fr 1fr;
    grid-template-rows: 150px 50px 1fr 200px;
} 

/** HEADER */

.header{
    grid-area: header;
    background-color: cornflowerblue;
    display: flex;
    gap: 30px;
    width: 100%;
}

.header div{
    background-color: cornsilk;
    /* border: 3px solid black; */
}

.avatar {
    width: 170px;
    height: 170px;
    flex-shrink: 0;
}

.logo{
    width: 220px;
    height: 110px;
    flex-shrink: 0;
}



.haberler{
    height: 110px;
    width: 100%;
}

.bildirim{
    width: 170px;
    height: 170px;
    flex-shrink: 0;
    margin-left: auto;
}

/** NAVBAR*/ 

.navbar {
    grid-area: navbar;
    background-color: chartreuse;
    text-decoration: none;
}


/** SİDEBAR*/ 


.sidebar {
    grid-area: side;
    background-color: darkblue;
}


/** MAİN*/ 

.main {
    grid-area: main;
    background-color: deeppink;
    padding: 50px;
}


/** HİGHLİGHTS*/ 

.highlights {
    grid-area: ligth;
    background-color: dodgerblue;
}

/** FOOTER*/ 

.foote {
    grid-area: foot;
    background-color: darkviolet;
}


/** RESPONSİVE */ 
@media (max-width: 750px){
    .haberler{
        display: none;
    }
}

@media (max-width: 620px) {
    .container{
    grid-template-areas: 
    "header header"
    "navbar navbar"
    "side main"
    "side ligth"
    "foot foot";
    grid-template-columns:75px 1fr;
    grid-template-rows: 120px 50px 1fr 1fr 200px;
    }

    .avatar{
        width: 120px;
        height: 120px;
    }

    
.bildirim{
    width: 120px;
    height: 120px;
    }

    .kart{
        width: 30%;
    }
}

@media (max-width: 520px) {
    .logo{
        width: 100px;
        height: 100px;
    }
}