.container{
    width: 100%;
    display: grid;
    min-height: 100vh;
    background-color: crimson;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "side ligth main"
    "foot foot foot";
    grid-template-columns:75px 0.25fr 1fr;
    grid-template-rows: 100px 50px 1fr auto;
} 

/** HEADER */

.header{
    grid-area: header;
}


/** NAVBAR*/ 

.navbar-a {
    grid-area: nav;
}


/** SÃ„Â°DEBAR*/ 


.sidebar {
    grid-area: side;
}


/** MAÃ„Â°N*/ 

.main {
    grid-area: main;
    background-color: deeppink;
    padding: 50px;
    
}




/** HÃ„Â°GHLÃ„Â°GHTS*/ 

.highlights {
    grid-area: ligth;
    background-color: dodgerblue;
}

/** FOOTER*/ 

.foote {
    grid-area: foot;
    background-color: darkviolet;
}


/** RESPONSÃ„Â°VE */ 

@media (max-width: 620px) {
    .container{
    grid-template-areas: 
    "header header"
    "nav nav"
    "side main"
    "side ligth"
    "foot foot";
    grid-template-columns:75px 1fr;
    grid-template-rows: 100px 50px 1fr 1fr 200px;
    }

    .avatar{
        width: 120px;
        height: 120px;
    }

    
.bildirim{
    width: 120px;
    height: 120px;
    }

    .kart{
        width: 30%;
    }
}

@media (max-width: 520px) {
    .logo{
        width: 100px;
        height: 100px;
    }
}