body, *{
    margin: 0;
    padding: 0;
}

.ana{
    display: block;
    padding: 0;
    margin: 0;
    height: 80vh;
    width: 100%;
    overflow-y: scroll;
    scrollbar-color: var(--color-1) transparent;
    scrollbar-gutter: stable;
}

.guncellemeler{
    width: 100%;
    height: 100%;
}

.about-nav, .main-nav, .contact-nav, .login-nav{
    text-decoration: none !important;
}

.updates-nav{
    text-decoration: rgb(174, 18, 18) underline 3.5px !important;
}


.guncellemeBaslik{
    font-size: 60px;
    margin-top: 60px;
    margin-left: 90px;
    background: linear-gradient(to left, rgb(255, 186, 186) 75%, rgb(157, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}




.guncellemeYazi{
    font-size: 40px;
    margin-top: 40px;
    margin-left: 90px;
    background: linear-gradient(to left, rgb(255, 186, 186) 75%, rgb(157, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.wrap{
    margin-top: 40px;
}
.surum{
    background: linear-gradient(to left, rgb(171, 232, 255), rgb(254, 172, 172));
    width: fit-content;
    padding: 3px 7px;
    margin-left: 20px;
    margin-top: 34px;
    color: #1c1c1c;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    box-shadow: 0px 0px 3px white;
}

.guncellemeP{
    display: inline-block;
    background: linear-gradient(to left, rgb(255, 188, 188), rgb(150, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 90px;
    margin-top: 27px;
    font-size: 20px;

}
