

.main2{
    background-color: lightseagreen;
}

.sayac{
    display: grid;
    grid-template-areas: 
    "sayi"
    "buton";
    align-items: center;
    justify-content: center;
}

#sayi{
    grid-area: sayi;
    background-color: rgb(59, 128, 255);
    width: 200px;
    height: 200px;
    font-size: 40pt;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Tahoma;
    border: 3px solid white;
    border-radius: 5px;


}

button{
    background-color: rgb(59, 128, 255);
    padding: 10px;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin-left: 13px;
}

.buton{
    grid-area: buton;
        align-items: center;
    justify-content: center;
}