<footer class="footer-comp">
    <p style="font-size: 20px; margin: 7px;"><strong>Ulukayın</strong></p>
    <p class="footerYazi">Bir tür süper-uygulama.</p>
    <p class="footerYazi"><b>Begümay</b> tarafından kodlandı.</p>
    <p class="footerYazi"><b>Shimi</b> ve <b>Begümay</b> tarafından tasarlandı.</p>
    <hr style="background: linear-gradient(to left, #171515, rgb(73, 73, 73), #171515); border: none; height: 3px;">
    <p class="footerYazi"><b>© 2026 Ulukayın. Tüm hakları saklıdır.</b></p>
    <button id="theme-switch">
        <img src="../images/gozluk.png" alt="">
    </button>
</footer> 

