<aside class="sidebar">
        <input type="checkbox" id="side-etkin">
        <label for="side-etkin" class="acik">
            <img src="{{SIDE_LOGO_URL}}" class="sideGorsel" alt="sidebar">
        </label>
        <div class="side-links">
            <label for="side-etkin">
                <img src="{{SIDE_LOGO_URL}}" class="kapali" alt="sidebar">
            </label>
            <div class="hafta-a"></div>
            <div class="hafta-row">
                <div class="hafta-b"></div>
                <div class="hafta-c"></div>
            </div>
            <div class="hafta-d"></div>
        </div>
    </aside>